<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}

    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bulma/bulma.min.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'images/logos+banners/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{% static 'images/logos+banners/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{% static 'images/logos+banners/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/logos+banners/favicons/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'app:home' %}">
            <img src="{% static 'images/logos+banners/logo_alt.png' %}" class="logo">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item prop invert" href="{% url 'app:appointments' %}">
                Appointments
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link prop invert">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{% url 'app:about' %}">
                        About
                    </a>

                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-link" href="{% url 'app:book' %}">
                        <strong>Book Now</strong>
                    </a>
                    {% if user.is_authenticated %}
                        <a class="button is-light" href="{% url 'app:logout' %}">
                            Log out
                        </a>
                    {% else %}
                        <a class="button is-primary" href="{% url 'app:register' %}">
                            Sign up
                        </a>
                        <a class="button is-light" href="{% url 'app:login' %}">
                            Log in
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}

<footer class="footer">
    <div class="custom-container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="{% url 'app:home' %}">about us</a></li>
                    <li><a href="{% url 'app:home' %}">our services</a></li>
                    <li><a href="{% url 'app:about' %}">privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="{% url 'app:about' %}">FAQ</a></li>
                    <li><a href="https://github.com/kgarchie/barber-shops" target="_blank">Source Code</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="{% url 'app:cs' %}">watch</a></li>
                    <li><a href="{% url 'app:cs' %}">bag</a></li>
                    <li><a href="{% url 'app:cs' %}">shoes</a></li>
                    <li><a href="{% url 'app:cs' %}">pants</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/kreezy.genie/" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/allan_archie" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/jinn.allan/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/allan-bosire-13b066180/" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    if (document.title !== 'Home') {
        const elems = document.querySelectorAll('.prop');

        elems.forEach(element => {
            element.classList.add('invert');
        });
    }
</script>
</body>


</html>