{% extends 'base.html' %}

{% block title %}
    <title>Book</title>
{% endblock title %}


{% block content %}
    <!-- make this a subscription service, as long as you have the account, you can book an appointment on any of our shop accross the country at any time -->
    <section class="container mt-6 invert">
        <form action="" method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label invert">
                    Choose your Cut
                </label>
                <div class="control">
                    <div class="select">
                        <select name="{{ form.cut.html_name }}">
                            {% for cut in cuts %}
                                <option value="{{ cuts.id }}">{{ cut }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label invert">
                    Choose your Barber
                </label>
                <div class="control">
                    <div class="select">
                        <select name="{{ form.barber.html_name }}">
                            {% for barber in barbers %}
                                <option value="{{ barber.id }}">{{ barber }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label invert" for="locale">
                    Choose your Location
                </label>
                <div class="control">
                    <div class="select">
                        <select name="{{ form.locale.html_name }}" id="locale">
                            {% for locale in locales %}
                                <option value="{{ locale.id }}">{{ locale }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="label invert">Dye?</div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="dye">
                        Black Dye
                    </label>
                </div>
            </div>

            <div class="field">
                <label class="label invert">
                    Something Else
                </label>
                <div class="control">
                    <textarea class="textarea" placeholder="Want to tell anything?"
                              name="{{ form.sth.html_name }}"></textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-success">
                        Book Appointment
                    </button>
                </div>
                <div class="control">
                    <div id="smart-button-container">
                        <div style="text-align: center;">
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>
                    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD"
                            data-sdk-integration-source="button-factory"></script>
                    <script>
                        function initPayPalButton() {
                            paypal.Buttons({
                                style: {
                                    shape: 'rect',
                                    color: 'blue',
                                    layout: 'vertical',
                                    label: 'paypal',

                                },

                                createOrder: function (data, actions) {
                                    return actions.order.create({
                                        purchase_units: [{
                                            "description": "Hair Cut",
                                            "amount": {"currency_code": "USD", "value": 1}
                                        }]
                                    });
                                },

                                onApprove: function (data, actions) {
                                    return actions.order.capture().then(function (orderData) {

                                        // Full available details
                                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));

                                        // Show a success message within this page, e.g.
                                        const element = document.getElementById('paypal-button-container');
                                        element.innerHTML = '';
                                        element.innerHTML = '<h3>Thank you for your payment!</h3>';
                                        actions.redirect('{% url "app:appointments" %}')
                                        // Or go to another URL:  actions.redirect('thank_you.html');

                                    });
                                },

                                onError: function (err) {
                                    console.log(err);
                                }
                            }).render('#paypal-button-container');
                        }

                        initPayPalButton();
                    </script>
                </div>
                <div class="control">
                    <button class="button is-link is-light">
                        Cancel
                    </button>
                </div>
            </div>

            <div class="field">
                {% if form.errors %}
                    {% for error in form.errors %}
                        <p class="help is-danger is-bold">{{ error.capitalize }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </section>
{% endblock %}