{% extends 'base.html' %}

{% block title %}
    <title>Schedule</title>
{% endblock title %}


{% block content %}
    <style>
        .card {
            background-color: #fff;
            width: 300px;
            border: none;
            border-radius: 16px;

        }

        .info {
            line-height: 19px;
        }

        .name {
            color: #4c40e0;
            font-size: 18px;
            font-weight: 600;
        }

        .order {
            font-size: 14px;
            font-weight: 400;
            color: #444343;
        }

        .detail {

            line-height: 19px;
        }

        .summery {
            color: #444343;
            font-weight: 400;
            font-size: 13px;
        }


        .text {

            line-height: 15px;
        }

        .new {

            color: #000;
            font-size: 14px;
            font-weight: 600;
        }

        .money {


            font-size: 14px;
            font-weight: 500;
        }

        .address {

            color: #444343;
            font-weight: 500;
            font-size: 14px;
        }

        .is-grid {
            margin-top: 6rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
        }

        @media screen and (max-width: 1220px) {
            .is-grid {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        @media print {
            body * {
                visibility: hidden;
            }

            #section-to-print, #section-to-print * {
                visibility: visible;
            }

            #section-to-print{
                position: absolute;
                width: 50vw;
                height: 50vh;
                display: grid;
                left: 25vw;
                place-items: center;
            }
        }
    </style>
    <div class="container is-grid">
        {% for appointment in appointments %}
            <div class="card p-4 mt-3" {% if forloop.first %} id="section-to-print" {% endif %}>
                <div class="first d-flex justify-content-between align-items-center mb-3">
                    <div class="info">
                        <span class="d-block name">Thank you, {{ user.username }}</span>
                        <span class="order">Appointment - {{ forloop.revcounter }}</span>

                    </div>

                </div>
                <div class="detail">
                    <span class="d-block summery">Your appointment has been placed.</span>
                </div>
                <hr>
                <div class="text">
                    <span class="d-block new mb-1">{{ user.email }}</span>
                </div>
                <span class="d-block address mb-3">{{ appointment.locale }}</span>
                <div class="  money d-flex flex-row mt-2 align-items-center">
                    <img src="https://i.imgur.com/ppwgjMU.png" width="20"/>
                    {% if forloop.first %}
                        <span class="ml-2"><button class="button is-info" onclick="window.print()">Print</button></span>
                    {% else %}
                        <span class="ml-2"><button class="button is-danger">Expired</button></span>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}