@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;300;700&family=Cairo&family=Rubik+Microbe&family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100;300;700&family=Anton&family=Cairo&family=Rubik+Microbe&family=Yanone+Kaffeesatz:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

:root {
    --nav-height: 4rem;
    --nav-padding: 1rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.invert {
    color: aliceblue;
}

.mtb {
    margin-top: 10vh;
    margin-bottom: 20vh;
}

a {
    color: hsl(340, 82%, 52%);
}

a:hover {
    color: hsl(30, 100%, 50%);
}

.text:hover {
    color: aliceblue;
}

html {
    scroll-behavior: smooth;
}

body {
    height: fit-content;
    background-color: hsl(0, 0%, 2%);
    width: 100vw;
    min-height: 100vh;
}

.is-transparent {
    background-color: transparent;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    height: var(--nav-height);
    padding: var(--nav-padding);
    align-items: center;
}

.logo {
    width: 110px;
    height: auto;
}

.img-hero {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    min-height: 100vh;
    z-index: 0;
}

.mid {
    display: flex;
    width: 100vw;
    justify-content: right;
    margin-top: 20vh;
    margin-left: -10vw;
}

.custom-card {
    position: absolute;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    width: 40vw;
    height: auto;
    border-radius: 20px;
    padding: 2rem;
    display: grid;
    place-items: center;
}

.custom-card.clone {
    background-color: aliceblue;
    min-height: 20vh;
    backdrop-filter: blur(100px);
}

.custom-card p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}


.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid hsl(340, 82%, 52%);
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid hsl(340, 82%, 52%);
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.offerings {
    margin-top: calc(100vh - var(--nav-height));
    background-color: hsl(220, 10%, 10%);
    color: aliceblue;
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.offerings h1 {
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.flex-offerings {
    display: flex;
    gap: 20px;
    padding: 0 3rem;
}

.flex-div {
    width: 100%;
}

.flex-div h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.explore {
    margin-top: 3rem;
    padding: 0.7rem 2rem;
    font-size: large;
}

.testimonials {
    display: flex;
    min-height: 500px;
    justify-content: space-around;
    align-items: center;
}

.snip1574 {
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1574 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1574 img {
    height: 400px;
    max-width: 100%;
    vertical-align: top;
    opacity: 0.7;
    object-fit: cover;
}

.snip1574 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 80px 10% 15%;
}

.snip1574 figcaption:before {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 170px;
    opacity: 0.35;
    font-style: normal;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0px;
    left: 50%;
}

.snip1574 blockquote {
    padding: 0;
    margin: 0;
    font-style: italic;
    font-size: 1.2em;
}

.snip1574 h3 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
}

.snip1574 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #bbb;
    letter-spacing: 1px;
}

.mission {
    background-image: url(../images/logos+banners/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    padding-left: 4rem;
    margin-top: 3rem;
}

.mission h1 {
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.mission p {
    max-width: 300px;
    font-size: large;
}

.footer {
    margin-top: 7rem;
    min-height: 250px;
    color: aliceblue;
    background-color: hsl(220, 10%, 10%);
    padding: 70px 0;
    width: 100vw;
}


.custom-container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}


.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media screen and (min-width: 1366px) {
    .offerings {
        margin-top: 100vh;
        padding-bottom: 8rem;
    }

    .offerings h1 {
        padding-top: 4rem;
    }
}

@media screen and (max-width: 1366px) {
    .offerings {
        margin-top: 70vh;
    }
}

@media screen and (max-width: 1024px) {
    .custom-card {
        height: auto;
    }

    .custom-card p {
        font-size: xx-large;
    }
}

@media screen and (max-width: 768px) {
    .testimonials {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .flex-offerings {
        flex-wrap: wrap;
    }

    .custom-card {
        height: auto;
    }

    .custom-card p {
        font-size: 1.5rem;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }

    .scroll-down {
        bottom: 5px;
    }
}

@media screen and (max-width: 560px) {
    .offerings {
        margin-top: 40vh;
    }

    .mid {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50vh;
        margin-left: 0;
    }

    .custom-card {
        width: auto;
        margin: 5rem 2rem 0 2rem;
        color: black;
    }
}
